---
teaching: slides
title: Presentació del mòdul
---
class: center, middle, inverse

<% 
modul = data["DAM-M03"].M03 
uf1 = data["DAM-M03"]["UF1"]
uf2 = data["DAM-M03"]["UF2"]
uf3 = data["DAM-M03"]["UF3"]
uf4 = data["DAM-M03"]["UF4"]
uf5 = data["DAM-M03"]["UF5"]
ufs = [uf1, uf2, uf3, uf4, uf5]
%>


# <%=current_page.cicle%> M03
## Programació

.footnote[<%= teacher_name%>]

---
# Que és programar?

---
.fullscreen[![](UF1/img/matrix_coding.gif)]

---
# Que és programar?

Programar és donar a un ordinador una llista d’instruccions

---
# Que espereu aconseguir?

???
- Que espereu fer en aquest mòdul?
	- videojoc
	- xarxa social
	- ...
- Realitat -> programa consola?

---
# Programar és un procés complex
- Comparació amb idiomes
	- Quants anys portes estudiant anglès?
	- Que vau aprendre el primer any?

---
# Aprendre a programar
- Programar és un art. Hi ha molts ritmes d'aprenentatge
	- Als ràpids
		- Aviseu l'acabar els exercicis, sempre es pot aprendre més
	- Als que tenen dificultats
		- Aviseu-me ràpid
		- Exercicis repetitius
		- Potser hi heu de dedicar més hores


---
# Detalls importants del mòdul
- Coneixements es van apilant
- Programar serà segurament la vostre feina principal.
- Necessari pel segon curs


---
# 2n curs
- Mòduls on es programa
<% if teacher_id == :montse %>
  - MP7 - desenvolupament d’interfícies
  - MP8 - programació multimèdia i dispositius mòbils
  - MP9 - programació de serveis i processos
  - MP13 - projecte de desenvolupament d’aplicacions multiplataforma
  - MP14 - formació en centres de treball
  - MP17 - Programació de videojocs
<% else %>
  - MP6 - accés a dades
  - MP7 - desenvolupament d’interfícies
  - MP8 - programació multimèdia i dispositius mòbils
  - MP9 - programació de serveis i processos
  - MP13 - projecte de desenvolupament d’aplicacions multiplataforma
  - MP14 - formació en centres de treball
  - MP15 - sistemes de gestió empresarial en entorns complexos
  - MP16 - intel·ligència artificial
- Mòduls on no es programa:
  - MP15: Game Design
<% end %>

---
# M03 Organització del mòdul - UFs
- UF<%= uf1.number%> - <%= uf1.name%>
- UF<%= uf2.number%> - <%= uf2.name%>
- UF<%= uf3.number%> - <%= uf3.name%>
- UF<%= uf4.number%> - <%= uf4.name%>
- UF<%= uf5.number%> - <%= uf5.name%>

QMP03 = 0.29·UF1 + 0.22·UF2 + 0.13·UF3 + 0.16·UF4 + 0.2·UF5

---
# Calendari
<% if teacher_id == :marc %>
  .fullscreen[![calendari](img/calendari_2021.png)]
<% else %>
  .fullscreen[![calendari](img/Calendari 2021-2022M03P.svg)]
<% end %>

---
<% uf=ufs[0] %>
# UF<%= uf.number%> - <%= uf.name%>

<% uf.nfs.each do |nf| %>
<% hours = nf.aes.inject(0){|sum, ae| sum + ae.hours} %>
- NF <%=nf.number %> - <%=nf.name%>
<%nf.aes.each do |ae|%>
    - <%= ae.name %><% end %>
<% end %>

---
# UF<%= uf.number%> - <%= uf.name%>
- Del <%= uf.start_date %> al <%= uf.end_date %>
- Nota
  - Pràctica tipus de dades - 0.05
  - Prova estructures de sel·lecció - 0.2
  - Pràctica estructures de repetició - 0.1
  - Prova dades dinàmiques - 0.25
  - Prova resum - 0.4

.footnote[S'ha d'obtenir un 4.5 o més a la Prova resum.]

---
<% uf=ufs[1] %>
# UF<%= uf.number%> - <%= uf.name%>

<% uf.nfs.each do |nf| %>
<% hours = nf.aes.inject(0){|sum, ae| sum + ae.hours} %>
- NF <%=nf.number %> - <%=nf.name%>
<%nf.aes.each do |ae|%>
    - <%= ae.name %>
<% end %>
<% end %>

---
# UF<%= uf.number%> - <%= uf.name%>
- Del <%= uf.start_date %> al <%= uf.end_date %>
- Nota
  - Prova - 0.5
  - Projecte - 0.5


.footnote[S'ha d'obtenir un 4.5 o més a la Prova.]

---
<% uf=ufs[2] %>
# UF<%= uf.number%> - <%= uf.name%>

<% uf.nfs.each do |nf| %>
<% hours = nf.aes.inject(0){|sum, ae| sum + ae.hours} %>
- NF <%=nf.number %> - <%=nf.name%>
<%nf.aes.each do |ae|%>
    - <%= ae.name %>
<% end %>
<% end %>

---
# UF<%= uf.number%> - <%= uf.name%>
- Del <%= uf.start_date %> al <%= uf.end_date %>
- Nota
  - Prova - 0.5
  - Projecte - 0.5


.footnote[S'ha d'obtenir un 4.5 o més a la Prova.]

---
<% uf=ufs[3] %>
# UF<%= uf.number%> - <%= uf.name%>

<% uf.nfs.each do |nf| %>
<% hours = nf.aes.inject(0){|sum, ae| sum + ae.hours} %>
- NF <%=nf.number %> - <%=nf.name%>
<%nf.aes.each do |ae|%>
    - <%= ae.name %>
<% end %>
<% end %>

---
# UF<%= uf.number%> - <%= uf.name%>
- Del <%= uf.start_date %> al <%= uf.end_date %>
- Nota
  - Prova - 0.5
  - Projecte - 0.5


.footnote[S'ha d'obtenir un 4.5 o més a la Prova.]

---
<% uf=ufs[4] %>
# UF<%= uf.number%> - <%= uf.name%>

<% uf.nfs.each do |nf| %>
<% hours = nf.aes.inject(0){|sum, ae| sum + ae.hours} %>
- NF <%=nf.number %> - <%=nf.name%>
<%nf.aes.each do |ae|%>
    - <%= ae.name %>
<% end %>
<% end %>

---
# UF<%= uf.number%> - <%= uf.name%>
- Del <%= uf.start_date %> al <%= uf.end_date %>
- Nota
  - Prova - 0.5
  - Projecte - 0.5


.footnote[S'ha d'obtenir un 4.5 o més a la Prova.]

---
<% uf=ufs[5] %>
# UF<%= uf.number%> - <%= uf.name%>

<% uf.nfs.each do |nf| %>
<% hours = nf.aes.inject(0){|sum, ae| sum + ae.hours} %>
- NF <%=nf.number %> - <%=nf.name%>
<%nf.aes.each do |ae|%>
    - <%= ae.name %>
<% end %>
<% end %>

---
# UF<%= uf.number%> - <%= uf.name%>
- Del <%= uf.start_date %> al <%= uf.end_date %>
- Nota
  - Prova - 0.5
  - Projecte - 0.5


.footnote[S'ha d'obtenir un 4.5 o més a la Prova.]
